div.svc-details {
    padding-left:5px;
    padding-right:5px;
}
p.svc-header {
    font-weight:600;
    margin-bottom:1px;
}

p.svc-header + p {
    margin-top:1px;
}

.rowRed .x-grid-cell {
    color:red;
}

.rowGray .x-grid-cell {
    color:gray;
}

.rowBlack .x-grid-cell {
    color:black;
}

.rowRun .x-grid-cell {
    color: #5fa2dd;
    font-weight:600;
}
.rowPause .x-grid-cell {
    color: green;
}
